# Exclude: everything
*

# Include: application files
!run.sh
!manage.py
!backend/__init__.py
!backend/asgi.py
!backend/settings.py
!backend/urls.py
!backend/wsgi.py
!backend/accounts
!backend/authentication
!backend/common
!backend/contacts

# Include: OpenAPI documentation files
!docs/openapi.json
!backend/docs

# Include: build files
!pyproject.toml
!poetry.lock

# Include: misc stuff
!entrypoint.sh
